html {
    height: 100%;
    
}

body {
    padding-top: 150px;
    background: url('/media/hero.png') no-repeat right center fixed;
    background-size: cover;
    background-size: 65%;
    height: calc(100vh - 164px);
    color: #f7f1e3;
    background-color: #feb00f;
    font-family: 'Lato';
}



.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #f7f1e3;
}

#topnav {
    background-color: #151719;
}

.main-logo-link, .main-link {
    color: #f7f1e3;
}

.mobile-button {
    color: #151719;
}

.nav-link {
    color: #151719;
}

.logo-font {
    text-transform: uppercase;
    
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-outline-black {
    color: #f7f1e3 !important; 
    background: #151719;
    border: 1px solid #151719
}

.btn-black {
    background: #151719;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

a {
    color: #f7f1e3;
}

.text-black {
    color: #f7f1e3 !important;
}

.product-text {
    color: #151719;
}

.border-black {
    border: 1px solid black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #f7f1e3;
    background-color: #feb00f;
    z-index: -1;
}

.update-link, .remove-item {
    cursor: pointer;
}

.product-bg {
    padding-bottom: 5px; 
}

a.category-badge > span.badge:hover {
    background-color: #151719 !important;
    color: #fff !important
}

/* -------------------------------- Bag */

.delivery-banner {
    background-color: #151719;
    color: #f7f1e3;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}